{% extends "base.html" %}
{% block title %}{{ block.super }} top{% endblock %}
{% block content %}
<div class="bg-light p-3 p-sm-5 my-4 rounded">
    <h1>和研注文app</h1>
    <p>スプレッドシートのコピペ作業から解放されましょう！</p>
 
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"class="btn btn-primary btn-lg">ログアウト</a>
    {% else %}
    <a href="{% url 'login' %}"class="btn btn-primary btn-lg">ログイン</a>
    {% endif %}
    <a href="{% url 'create' %}"class="btn btn-primary btn-lg">新規登録</a>
</div>
{% endblock %}